@import "bulma";

* {
  box-sizing: border-box;
}
 .tab-content {
   height: 500px;
 }
.fa-facebook-official {
  color: blue;

}
.fa-twitter  {
  color: lightblue;
}

.fa-instagram {
color: orange;

}
