@import "bulma";

* {
  box-sizing: border-box;
}
 .tab-content {
   height: 500px;
   padding: 0px 40px;
 }
 .fa-3x {
   padding-left: 10px;
   padding-right: 10px;
 }
.fa-facebook-official {
  color: blue;
}

.fa-twitter  {
  color: lightblue;
}

.fa-instagram {
color: orange;

}
.menu-title {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 18px 0px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;

}
.zoom img {
zoom: 100%;
padding-top: 20px;
}

.item {
font-size: 15px;
font-weight: bold;
float:left;
padding: 14px 0px;
}
.price {
font-size: 14px;
color: grey;
float: right;
display: inline-block;
}


.description {
  clear: both;
  font-size: 12px;
  padding-top: 0px;
  overflow: hidden;
  //max-height: 3.6em;
}

.description::after {
//  content: "...";
//  position: absolute;
}

.sprites {
   padding-left: 10px;
   padding-right: 10px;
   width: 26% !important;
   display: inline-table;


  i {
    padding-left: 15px;
    padding-right: 15px;
    //outline: dotted red;
  }
}
.active1 {
  color:yellow;
  }
.active2 {
  color:blue;
  }
.active3 {
  color:red;
  }
.active4 {
  color:green;
  }

.social {
  clear:both;
  //position: relative;
}
.social-bar-top {
  float: right;
  margin-top: 45px;
}
.news {
  max-height: 370px;
  overflow: auto;
}
